<link rel="stylesheet" type="text/css" href="mitretest-1.0.0/widgetAssets/css/mitretest.css" />
<div class="widget widget-container chart">
  <div class="display-flex-space-between margin-chart">
    <div class="padding-right-0 padding-left-0 widget-dashboard-title-width"
      data-ng-class="(page === 'dashboard' || page === 'reporting') ? 'widget-dashboard-title-width' : 'widget-title-width'">
      <h5 class="margin-top-0 margin-bottom-0 text-overflow ng-binding">{{ config.title ? config.title : 'MITRE ATT&CK
        Alert/Incident Spread' }}</h5>
    </div>
    <div class="padding-left-0 margin-top-8 padding-top-5 pull-left" data-ng-show="detail_display">
      <span class="fa btn btn-sm" data-ng-class="{'hover':isOpen}" data-ng-click="globalRefresh()" role="button"
        tabindex="0"><i class="icon icon-refresh"></i></span>
    </div>
    <div class="padding-right-0"
      data-ng-class="(page === 'dashboard' || page === 'reporting') ? 'widget-dashboard-actions-width' : ''">
      <span class="fa btn widget-action-icon btn-sm pull-right" data-ng-click="collapsed = !collapsed"
        data-ng-class="{'fa-caret-up': !collapsed, 'fa-caret-down': collapsed}"></span>
    </div>
  </div>
  <div data-ng-hide="collapsed || (detail_not_found && detail_display)">
    <div class="padding-left-lg padding-bottom-xlg overflow-hidden">
      <div data-ng-if="!processing && (tacticsRecords.length > 0)">
        <table class="mitre-table">
          <thead data-ng-class="currentTheme == 'light' ? 'mitre-tactics-light' : 'mitre-tactics'">
            <tr>
              <td class="mitre-techniques-count padding-top-sm padding-left-sm padding-right-sm"
                data-ng-repeat="tactic in tacticsRecords | orderBy:'_order_key'"
                data-ng-hide="(tactic.techniques.length == 0 && config.hideTactics) || (tactic._hidden_techniques_count == tactic.techniques.length && config.hideParentTactics && !tactic._toggled) || (detail_display && !tactic._toggled_detail)">
                {{ tactic.techniques.length }}
                {{ tactic.techniques.length === 1 ? 'technique' : 'techniques' }}
              </td>
            </tr>
            <tr>
              <td class="mitre-tactics-cells padding-bottom-sm padding-left-sm padding-right-sm"
                data-ng-repeat="tactic in tacticsRecords | orderBy:'_order_key'"
                data-ng-hide="(tactic.techniques.length == 0 && config.hideTactics) || (tactic._hidden_techniques_count == tactic.techniques.length && config.hideParentTactics && !tactic._toggled) || (detail_display && !tactic._toggled_detail)">
                <div class="div-style">
                  <a href="" data-ng-click="openRecord(tactics.module, tactic['@id'])" data-tooltip-placement="top"
                    data-uib-tooltip="{{tactic.mitreId}}" data-tooltip-append-to-body="true">{{ tactic.name }}</a>
                </div>
              </td>
            </tr>
          </thead>
          <tbody data-ng-class="currentTheme == 'light' ? 'mitre-techniques-light' : 'mitre-techniques'">
            <tr>
              <td class="padding-sm" data-ng-repeat="tactic in tacticsRecords | orderBy:'_order_key'"
                data-ng-hide="(tactic.techniques.length == 0 && config.hideTactics) || (tactic._hidden_techniques_count == tactic.techniques.length && config.hideParentTactics && !tactic._toggled) || (detail_display && !tactic._toggled_detail)">
                <table class="inner-mitre-table" width="100%">
                  <tr data-ng-repeat="technique in tactic.techniques">
                    <td
                      data-ng-class="(technique._show_subtechniques_coverage && config.enableCoverage) || (technique._show_alerts && config.enableCoverage) || (technique._show_incidents && config.enableCoverage) ? 'heatmap mitre-techniques-cells padding-sm' : 'mitre-techniques-cells padding-sm'"
                      data-ng-hide="technique._hide || technique._hide_in_detail_view || technique._hide_by_group"
                      data-ng-click="openRecord(techniques.module, technique['@id'])">
                      <div class="bold">{{ technique.name }}</div>
                      <div class="counter-font">{{ technique.mitreId }} |
                        <a data-ng-class="currentTheme == 'light' ? {'disable-light': technique._subtechniqueCount == 0} : {'disable': technique._subtechniqueCount == 0}"
                          href=""
                          data-ng-click="toggleShowRelationships(technique, 'subtechniques', true); $event.stopPropagation();">Subtechniques:
                          {{ technique._subtechniqueCount }}</a>
                      </div>
                      <br>
                      <div class="padding-top-sm padding-right-md padding-bottom-sm padding-left-md shrink"
                        data-ng-if="technique._subtechniques_processing">
                        <cs-spinner data-show-background="true"></cs-spinner>
                      </div>
                      <div class="margin-top-sm"
                        data-ng-show="technique._show_subtechniques || technique._show_subtechniques_coverage">
                        <table class="mitre-subtechniques-table" width="100%">
                          <tr data-ng-repeat="subtechnique in technique._subtechniques">
                            <td class="mitre-relationships-cells padding-bottom-sm"
                              data-ng-click="openRecord(subtechniques.module, subtechnique.uuid); $event.stopPropagation();"
                              data-tooltip-placement="top" data-uib-tooltip="{{subtechnique.mitreId}}"
                              data-tooltip-append-to-body="true">
                              <div class="padding-top-sm padding-left-sm padding-right-sm">{{ subtechnique.name }}</div>
                              <div class="padding-bottom-sm padding-left-sm padding-right-sm counter-font">{{
                                subtechnique.mitreId }}</div>
                              <br>
                              <div class="counter-font padding-right-sm padding-left-sm">
                                <a data-ng-class="currentTheme == 'light' ? {'disable-light': subtechnique._alertCount == 0} : {'disable': subtechnique._alertCount == 0}"
                                  href=""
                                  data-ng-click="toggleShowSubtechniqueRelationships(subtechnique, 'alerts', true); $event.stopPropagation();">
                                  Alerts: {{ subtechnique._alertCount }}</a>
                              </div>
                              <div class="padding-top-sm padding-right-md padding-bottom-sm padding-left-md shrink"
                                data-ng-if="subtechnique._alerts_processing">
                                <cs-spinner data-show-background="true"></cs-spinner>
                              </div>
                              <div class="margin-top-sm" data-ng-show="subtechnique._show_alerts">
                                <table class="mitre-subtechniques-table alert-incident-table" width="95%">
                                  <tr data-ng-repeat="alert in subtechnique._alerts">
                                    <td class="mitre-relationships-cells-child padding-sm"
                                      data-ng-click="openRecord(alerts.module, alert['@id']); $event.stopPropagation();">
                                      <div class="padding-sm">{{ alert.name }}</div>
                                      <div class="padding-left-sm counter-font"><span>Severity: </span><span
                                          data-ng-style="alert._severity_color">{{ alert._severity_value }}</span></div>
                                      <br>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                              <br data-ng-show="subtechnique._show_alerts">
                              <div class="counter-font padding-right-sm padding-left-sm">
                                <a data-ng-class="currentTheme == 'light' ? {'disable-light': subtechnique._incidentCount == 0} : {'disable': subtechnique._incidentCount == 0}"
                                  href=""
                                  data-ng-click="toggleShowSubtechniqueRelationships(subtechnique, 'incidents', true); $event.stopPropagation();">
                                  Incidents: {{ subtechnique._incidentCount }}</a>
                              </div>
                              <div class="padding-top-sm padding-right-md padding-bottom-sm padding-left-md shrink"
                                data-ng-if="subtechnique._incidents_processing">
                                <cs-spinner data-show-background="true"></cs-spinner>
                              </div>
                              <div class="margin-top-sm" data-ng-show="subtechnique._show_incidents">
                                <table class="mitre-subtechniques-table alert-incident-table" width="95%">
                                  <tr data-ng-repeat="incident in subtechnique._incidents">
                                    <td class="mitre-relationships-cells-child padding-sm"
                                      data-ng-click="openRecord(incidents.module, incident['@id']); $event.stopPropagation();">
                                      <div class="padding-sm">{{ incident.name }}</div>
                                      <div class="padding-left-sm counter-font"><span>Severity: </span><span
                                          data-ng-style="incident._severity_color">{{ incident._severity_value }}</span>
                                      </div><br>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <br data-ng-show="technique._show_subtechniques || technique._show_subtechniques_coverage">
                      <div class="counter-font">
                        <a data-ng-class="currentTheme == 'light' ? {'disable-light': technique._alertCount == 0} : {'disable': technique._alertCount == 0}"
                          href=""
                          data-ng-click="toggleShowRelationships(technique, 'alerts', true); $event.stopPropagation();">
                          Alerts: {{ technique._alertCount }}</a>
                      </div>
                      <div class="padding-top-sm padding-right-md padding-bottom-sm padding-left-md shrink"
                        data-ng-if="technique._alerts_processing">
                        <cs-spinner data-show-background="true"></cs-spinner>
                      </div>
                      <div class="margin-top-sm" data-ng-show="technique._show_alerts">
                        <table class="mitre-subtechniques-table" width="100%">
                          <tr data-ng-repeat="alert in technique._alerts">
                            <td class="mitre-relationships-cells"
                              data-ng-click="openRecord(alerts.module, alert['@id']); $event.stopPropagation();">
                              <div class="padding-sm">{{ alert.name }}</div>
                              <div class="padding-left-sm counter-font"><span>Severity: </span><span
                                  data-ng-style="alert._severity_color">{{ alert._severity_value }}</span></div><br>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <br data-ng-show="technique._show_alerts">
                      <div class="counter-font">
                        <a data-ng-class="currentTheme == 'light' ? {'disable-light': technique._incidentCount == 0} : {'disable': technique._incidentCount == 0}"
                          href=""
                          data-ng-click="toggleShowRelationships(technique, 'incidents', true); $event.stopPropagation();">
                          Incidents: {{ technique._incidentCount }}</a>
                      </div>
                      <div class="padding-top-sm padding-right-md padding-bottom-sm padding-left-md shrink"
                        data-ng-if="technique._incidents_processing">
                        <cs-spinner data-show-background="true"></cs-spinner>
                      </div>
                      <div class="margin-top-sm" data-ng-show="technique._show_incidents">
                        <table class="mitre-subtechniques-table" width="100%">
                          <tr data-ng-repeat="incident in technique._incidents">
                            <td class="mitre-relationships-cells"
                              data-ng-click="openRecord(incidents.module, incident['@id']); $event.stopPropagation();">
                              <div class="padding-sm">{{ incident.name }}</div>
                              <div class="padding-left-sm counter-font"><span>Severity: </span><span
                                  data-ng-style="incident._severity_color">{{ incident._severity_value }}</span></div>
                              <br>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="watermark" data-ng-hide="unauthorized"
        data-ng-if="!processing && (!tacticsRecords || tacticsRecords.length === 0)">No Records Found
      </div>
      <div class="padding-top-sm padding-right-md padding-bottom-sm padding-left-md" data-ng-if="processing">
        <cs-spinner data-show-background="true"></cs-spinner>
      </div>
    </div>
  </div>
  <div data-ng-show="unauthorized" class="unauthorized-message">
    <h6 class="text-center padding-top-lg padding-bottom-lg font200 font-size-15">You do not have necessary read
      permissions to view relevant MITRE modules. Please make sure the following MITRE modules: Tactics, Techniques, and
      Subtechniques are
      available to the current user.</h6>
  </div>
  <div data-ng-show="detail_not_found && detail_display">
    <h4 class="text-center padding-top-lg padding-bottom-lg font200 font-size-15">This record is not related to any
      MITRE ATT&CK records. If you would like see this widget in its full extent, try adding it as a dashboard widget.
    </h4>
  </div>
  <div data-ng-show="record_module == 'alerts'">
    <h4 class="text-center padding-top-lg padding-bottom-lg font200 font-size-15">Only Incidents are viewable in the
      widget when enabled within the detail record view.</h4>
  </div>
</div>