/* outermost table (tactics) */
.mitre-table {
  display: block;
  overflow-x: auto;
}

/* alerts and incidents table*/
.alert-incident-table {
  margin-left: auto;
  margin-right: auto;
}

/* table header for tactics (outermost table) */
.mitre-tactics {
  text-align: left;
  color: white;
}

.mitre-tactics-light {
  text-align: center;
  color: black;
}

/* widens tactics container */
.div-style {
  width: 200px;
}

/* paints the grey line below tactics row */
thead tr:last-of-type {
  border-bottom: 2px solid #696969;
}

/* tactics cells */
.mitre-tactics-cells {
  min-width: 100%;
  width: 96px;
  font-size: 13px;
}

/* techniques count for each tactic */
.mitre-techniques-count {
  font-size: 9px;
  padding-bottom: 2px;
}

/* table body for outermost table. this is where techniques are */
.mitre-techniques {
  padding: 12px;
  text-align: left;
  color: white;
  font-size: 12px;
  vertical-align: top;
}

.mitre-techniques-light {
  padding: 12px;
  text-align: left;
  color: black;
  font-size: 12px;
  vertical-align: top;
}

/* techniques table */
.inner-mitre-table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

/* techniques cells */
.mitre-techniques-cells {
  border: 1.5px solid #808080;
  background-color: #0D1218;
}

.mitre-techniques-cells-light {
  border: 1.5px solid #808080;
  background-color: white;
}

/* font styling for counters on techniques */
.counter-font {
  font-size: 9px;
}

/* table for subtechniques (currently wraps alerts and incidents as well) */
/* .mitre-subtechniques-table {
  border: 2px solid #04AAB1;
} */

.mitre-relationships-cells {
  font-size: 11px;
  border-top: 1px solid #808080;
}

/* controls hover behavior for individual 
   subtechnique/alert/incident cells under techniques */
.mitre-relationships-cells:hover {
  background-color: #323A47;
}

.mitre-relationships-cells-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  border-top: 1px solid #808080;
}

/* contorls hover behavior for individual
   alert/incident cells under subtechniques */
.mitre-relationships-cells-child:hover {
  background-color: #4F5D72;
}

/* makes techniques' names bold */
.bold {
  font-weight: bold;
}

/* disables hyperlink behavior of counters if there are no relationships found */
a.disable {
  pointer-events: none;
  color: white;
}

a.disable-light {
  pointer-events: none;
  color: black;
}

/* shrinks the cs spinner for loading relationships */
.shrink {
  -moz-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

/* sizing for edit view toggles */
.edit-toggles {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.heatmap {
  background-image: linear-gradient(#A30000, black);
}